body {
 font-family: 'Didot', serif;
 background: rgb(253, 223, 223);
}

nav {
 background-color: rgb(252, 181, 181);
 font-size: larger;
}

.main-content {
 padding: 1rem;
}


/* Link formatting */
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover, a:active {
    color: rgb(87, 8, 8);
    font-weight: bold;
}