@charset "utf-8";

 html {
 color: rgb(88, 6, 187);
 font-family: 'Didot', serif;
 background: #9af2ff;
 color: rgb(88, 6, 187);
 }

 h1 { font-size: 2em}
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }


 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }