body {
 font-family: 'Didot', serif;
 background: rgb(253, 223, 223);
}

nav {
 background-color: rgb(252, 181, 181);
 font-size: larger;
}

.navbar-brand{
    font-size: x-large;
}


/*.main-content {
 padding: 1rem;
}*/


/* Link formatting */
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover, a:active {
    color: rgb(87, 8, 8);
    font-weight: bold;
}


/* For viewing bootstrap grid */
/*div[class="row"] {
    outline: 1px dotted black;
}

div[class^="col-"] {
    background-color: lightpink;
    outline: 1px dotted black;
}*/